extends ../layout.pug
 
block content
    h1.
        Blobs
    table

        thead
          tr 
            th name
            th badge
            th Date of birth
            th is loved
            th ID
            th Actions    
        tbody
    
         each blob, i in blobs
            tr
                td=blob.name
                td=blob.badge
                td=blob.dob
                td=blob.isloved
                td=blob._id
                td
                    form(action='/blobs/' + blob._id +'/edit',method='post',enctype='application/x-www-form-urlencoded')
                         input(type='hidden',value='DELETE',name='_method')
                         button(type='submit'). 
                          Delete
                    a(href='/blobs/' + blob._id + '/edit') Edit
                    br
                    a(href='/blobs/' + blob._id) Show

    p  
      a(href='/blobs/new' ) Add a NEW record                
    p Back to 
      a(href='../' ) Index
